body {
  background-image: url("/images/mask.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
}

nav {
  width: 100%;
  overflow: auto;
}

ul {
  padding: 0;
  margin: 0 0 0 200px;
  margin-top: 20px;
  list-style: none;
}

li {
  float: left;
}

li a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: black;
  text-align: center;
}

li a:hover {
  background: turquoise;
}

.logo img {
  position: absolute;
  margin-left: 30px;
}

.btn {
  float: right;
  margin-top: -55px;
  margin-right: 270px;
  width: 85px;
  height: 35px;
  border: 1px solid #4b4949;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 13px;
  background: transparent;
}

p {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  font-weight: lighter;
  text-align: left;
  height: 12px;
  margin-top: 120px;
  margin-left: 25px;
}

h3 {
  color: #3e3e3e;
  font-size: 52px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 25px;
  margin-top: 10px;
}
.two {
  margin-top: -40px;
  margin-left: 25px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-icon {
  grid-column: auto;
  display: grid;
}

.icons {
  width: 28%;
  height: 35px;
  margin-top: 75px;
  margin-left: 25px;
  border: 1px solid #01d98b;
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.one {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 13px;
  font-size: 13px;
}
