body {
  background-image: url("/images/mask.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
}

nav {
  width: 100%;
  overflow: auto;
}

ul {
  padding: 0;
  margin: 0 0 0 200px;
  margin-top: 20px;
  list-style: none;
}

li {
  float: left;
}

li a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: black;
  text-align: center;
}

li a:hover {
  background: turquoise;
}

.logo img {
  position: absolute;
  margin-left: 30px;
}

.btn {
  float: right;
  margin-top: -55px;
  margin-right: 270px;
  width: 85px;
  height: 35px;
  border: 1px solid #4b4949;
  box-sizing: border-box;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 13px;
  background: transparent;
  cursor: pointer;
}

p {
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 26px;
  font-weight: lighter;
  text-align: left;
  height: 12px;
  margin-top: 80px;
  margin-left: 25px;
}

h3 {
  color: #3e3e3e;
  font-size: 52px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 25px;
  margin-top: 10px;
}
.two {
  margin-top: -40px;
  margin-left: 25px;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.input-icon {
  margin-top: 75px;
  margin-left: 25px;
  width: 28%;
  position: relative;
  grid-column: auto;
  display: grid;
}

.icons {
  width: 100%;
  height: auto;
  padding: 11px 16px 11px 56px;
  border: 1px solid #01d98b;
  border-radius: 6px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

span {
  position: absolute;
  left: 0;
  top: 55%;
  transform: translateY(-50%);
  margin: 0 16px;
}

.one {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 13px;
  font-size: 13px;
}

.button-element {
  background: #01d98b;
  height: 36px;
  width: 37px;
  position: absolute;
  /* padding: 16px 13px 13px 16px; */
  border-radius: 50px;
  border: none;
  margin-right: 16px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

svg {
  height: 35px;
  width: 26px;
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 260px;
  height: 190px;
  margin-left: -20px;
  margin-top: 20px;
  position: relative;
  background-attachment: fixed;
}

.img-box {
  float: right;
  width: 40px;
  margin-top: -200px;
  margin-right: 320px;
  background-attachment: fixed;
}
